.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.mid {
  display: flex;
  flex-direction: row;

  p {
    color: #798c8d;
    margin: 1rem 2rem;
  }
}

.icons {
  height: 2rem;
  margin: 0 1rem;
  filter: invert(76%) sepia(13%) saturate(1578%) hue-rotate(162deg)
    brightness(102%) contrast(102%);
}
