<div class="content">
  <div class="box1">
    <div class="fill">
      <h1>vi er her, kom og besøk oss eller noe</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas,
        doloribus. Quo totam nostrum dolorum animi, vel neque beatae eum,
        quisquam velit magnam reprehenderit iusto ipsum. Saepe incidunt eligendi
        culpa illo?
      </p>
      <button>Kjøp ting ?</button>
    </div>
  </div>
  <div class="box2">
    <google-map [center]="mapCenter" width="40rem" height="30rem">
      <map-marker [position]="mapCenter"></map-marker>
    </google-map>
  </div>
</div>
