<div class="content">
  <h1>Vi beskytter deg så du ikke må</h1>
  <p>
    it er skummle saker, Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Quasi minima enim consequatur tempore ab voluptatem, dicta inventore
    laudantium ipsam possimus quidem iste, ullam nesciunt molestiae? Repudiandae
    delectus esse officia quo. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Aspernatur, libero eos. Nostrum, vel quae necessitatibus
    iste veniam omnis consequatur repudiandae assumenda quidem voluptate eum et
    quis vitae error tenetur animi!
  </p>
</div>
