.content {
  background-image: url(/assets/holo.png);
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem;
  min-height: 15rem;

  margin-bottom: 10rem;

  p {
    font-size: 1.4rem;
  }
}
